<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>
    <add key="NAME" value="QA"/>
    <add key="SAP_USERNAME" value="username"/>
    <add key="SAP_PASSWORD" value="password"/>
    <add key="SAP_CLIENT" value="100"/>
    <add key="SAP_APPSERVERHOST" value="servername"/>
    <add key="SAP_SYSTEMNUM" value="0"/>
    <add key="SAP_LANGUAGE" value="EN"/>
    <add key="SAP_POOLSIZE" value="10"/>
  </appSettings>
</configuration>